* {
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
    font-family:  Tahoma, Geneva, Verdana, sans-serif;
}
header {
    background-color: #F63232;
    color: white;
    padding: 40px;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}
header h1 {
    display: inline-block;
    font-size: 25pt;
    border: 7px solid rgb(255, 255, 255);
    border-radius: 40px;
    padding: 5px 10px;
    z-index: 1;

}
.banner img{
    width: 100%;
}
.main-nav{
   position: sticky;
   top: 144.3px;
   background-color: #f4f4f4;
   z-index: 1;
   padding: 20px;
}
.main-nav ul{
    font-size: 1.5rem;
    padding: 0px 20px;
    white-space: nowrap;
   
}
.main-nav li {
    display: inline-block;
    list-style-type: none;
    width: 25%;
    text-align: center; 
}
.main-nav a{
    text-decoration: none;
    color: #4b4b4b ;
}
.main-nav a:hover{
    text-decoration: none;
    color: #4b4b4b ;
}
.main-nav .join{
     text-decoration: underline;
     color: red;
}
main{
    margin:0 auto ;
    width: 82%;
    margin-bottom: 80px;

} 
main article{
    margin: 70px auto;
    
} 
main article h2{
    font-size: 2.8rem;
    color: #F63232;
    padding-bottom: 20px;
}
main article p{
    /* padding: 15px 0px; */
    line-height: 2rem;
    font-size: 1.1rem;
    color: #4b4b4b;
    text-align: justify;


}
main article p::first-line{
    font-weight: bold;
    font-size: 1.3rem;
}
main ul{
   
    white-space: nowrap;

}
main li {
    display: inline-block;
    width: 50%;
    position: relative;
   
 
}
.images li{
    z-index: -1;
    text-align: center;
}
main img:last-child{
    width: 80%;
}
.images li:hover{
    
    top: -10px
}
.join{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:#F4F4F4;
     
}
.join h1{
    font-size: 2.5rem;
}
.join h1,p,form{
    padding: 15px;
   
}
#email{
    margin-bottom: 50px;
    width: 350px;
    height: 50px;
    border-radius: 30px;
    font-size: 1.3rem;
    text-indent: 1.3rem;
    outline: none;
    border:lawngreen;
    
    

}
#submit{
    /* padding: 20px  30px; */
    border-radius: 25px;
    font-size: 1.3rem;
    height: 50px;
    width: 90px;
    outline: none;
    border: 4px solid #71d300;

    

}
.copyright{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    background-color:red;
    color: white;
    font-size: 1.3rem;
}
